.address {
  padding: 28px 0 0 0;
  background-color: #ffffff;

  &--catalog {
    background-color: #f2f2f2;
  }
}

.address__grid {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.address p {
  @include margin-reset;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.address address {
  font-style: normal;
  line-height: 20px;
}

.address img {
  display: block;
  width: 100%;
  height: 362px;
  object-fit: cover;
}

@media (min-width: $table-width) {
  .address {
    padding-top: 64px;
  }

  .address__grid {
    margin-bottom: 57px;
    padding: 0 30px;
  }

  .address p {
    padding-left: 41px;
    font-size: 20px;
    line-height: 25px;
  }

  .address address {
    padding-right: 41px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .address span {
    display: inline-block;
    margin-top: 20px;
  }

  .address img {
    height: 395px;
  }
}
