.product-catalog {
  padding-top: 15px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e6e6e6;
}

.product-catalog__header {
  @include margin-reset;

  margin-left: 20px;
  margin-bottom: 28px;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 60px;
  color: #111111;
}

.list-catalog {
  @include list-reset;
}

.list-catalog__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #e6e6e6;

  &--last-item {
    margin-bottom: 0;
    padding-top: 27px;
  }
}

.list-catalog__link {
  display: flex;
  text-decoration: none;
}

.list-catalog__box-img {
  flex-basis: 50%;
}

.list-catalog__img {
  display: block;
  width: 140px;
  height: 144px;
}

.list-catalog__box {
  flex-basis: 50%;
  padding-top: 21px;
}

.list-catalog__header {
  @include margin-reset;

  width: 70%;
  margin-bottom: 13px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.list-catalog__table {
  width: 100%;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #444444;
  border-collapse: collapse;
}

.list-catalog__table td:last-child,
.list-product__table td:last-child {
  text-align: right;
}

.list-catalog__button {
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  background-color: #68b738;
  cursor: pointer;

  &--bagr {
    color: #444444;
    background-color: #f2f2f2;
  }
}

.plus {
  position: relative;
  align-self: center;
  width: 30px;
  height: 30px;
  margin-bottom: 22px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(0deg);
  }

  &::after {
    transform: rotate(-90deg);
  }
}

.list-catalog__desc {
  @include margin-reset;

  margin-bottom: 8px;
  align-self: center;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
}

.list-catalog__text {
  margin-bottom: 21px;
  align-self: center;
  font-size: 12px;
  font-weight: normal;
  line-height: 16px;
}

.additional-products {
  padding-top: 28px;
  padding-bottom: 35px;
}

.list-product {
  @include list-reset;

  margin-bottom: 39px;
}

.list-product__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 17px;
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    margin-bottom: 0;
    padding-bottom: 17px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.additional-products__header {
  position: relative;
  margin-bottom: 34px;
  margin-left: 0;
  font-size: 24px;
  line-height: 24px;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    right: -20px;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}

.list-product__header {
  width: 50%;
  margin-bottom: 12px;
  line-height: 16px;
}

.product-table {
  width: 100%;
  margin-bottom: 14px;
  line-height: 14px;
  border-collapse: collapse;
}

.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 289px;
  padding-top: 64px;
  padding-bottom: 42px;
  text-align: center;
  background-color: #70b447;
  background-image: url("../img/gift-photo-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;
  box-sizing: border-box;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.webp");
  }
}

.promo svg {
  fill: #ffffff;
}

.promo__slogan {
  @include margin-reset;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: $table-width) {
  .additional-products {
    padding-top: 43px;
    padding-bottom: 76px;
  }

  .product-catalog {
    padding-top: 53px;
    border-bottom: none;
  }

  .product-catalog__header {
    margin-left: 30px;
    font-size: 60px;
    line-height: 60px;
  }

  .product-catalog__list {
    padding-left: 30px;
    padding-right: 30px;
  }

  .list-catalog {
    display: flex;
    flex-wrap: wrap;
    padding-top: 137px;
  }

  .list-catalog__items {
    width: 45.7%;
    margin-right: auto;
    margin-top: 140px;
    margin-bottom: 0;
    padding: 0 0 40px 0;
    border-top: none;
    background-color: #f2f2f2;

    &--last-item {
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
      box-sizing: border-box;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-of-type(-n+2) {
      margin-top: 0;
    }
  }

  .list-catalog__link {
    position: relative;
    flex-direction: column;
    margin-bottom: 34px;
    padding-top: 163px;
    padding-right: 36px;
    padding-left: 36px;
  }

  .list-catalog__box-img {
    position: absolute;
    top: -46px;
    align-self: center;

    &--big {
      top: -82px;
    }
  }

  .list-catalog__img {
    display: block;
    width: 161px;
    height: 172px;

    &--big {
      width: 195px;
      height: 208px;
    }
  }

  .list-catalog__box {
    @include padding-reset;
  }

  .list-catalog__header {
    width: 130px;
    margin: 0 auto 21px auto;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .list-catalog__table tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .list-catalog__table td {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px;
    line-height: 16px;
  }

  .list-catalog__button {
    margin-top: auto;
    margin-left: 37px;
    margin-right: 37px;
  }

  .plus {
    width: 60px;
    height: 60px;
    margin-top: 54px;
    margin-bottom: 49px;

    &::before,
    &::after {
      top: 29px;
      width: 60px;
    }
  }

  .list-catalog__desc {
    width: 175px;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .list-catalog__text {
    width: 175px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }

  .additional-products__header {
    margin-left: 37px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
      right: -30px;
      width: 327px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 22px;
      left: -67px;
      width: 29px;
      height: 3px;
      background-color: #68b738;
    }
  }

  .list-product {
    margin-bottom: 68px;
  }

  .list-product__items {
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: calc(140px - 0.5px);
    margin-bottom: 0;
    padding: 25px 35px 28px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    box-sizing: border-box;

    &:last-of-type {
      padding-bottom: 28px;
    }
  }

  .list-product__header {
    @include margin-reset;

    width: 50%;
    margin-bottom: 0;
    text-align: left;
  }

  .list-product__table {
    @include margin-reset;

    margin-top: 4px;
  }

  .product-table {
    width: 50%;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
  }

  .product-table__list td:nth-child(2) {
    width: 93px;
  }

  .list-product__button {
    @include margin-reset;

    width: 100%;
  }

  .promo {
    flex-direction: row;
    min-height: 200px;
    padding: 0;
    padding-left: 90px;
    padding-right: 125px;
    text-align: left;
    background-image: url("../../img/gift-photo-tablet@1x.webp");
  }

  .promo svg {
    margin-top: -10px;
  }

  .promo__slogan {
    margin-top: 3px;
  }
}
