.main-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.main-nav {
  position: relative;
}

.main-nav__link {
  display: block;
  width: 192px;
  margin-left: 20px;
  padding-top: 16px;
  padding-bottom: 11px;
  font-size: 23px;
  color: inherit;
  text-decoration: none;
}

.main-nav__logo {
  margin-right: 50px;
  vertical-align: middle;
  transform: translate(0, -5px);
}

.site-list {
  @include list-reset;

  text-align: center;
}

.site-list__link {
  display: block;
  padding-top: 22px;
  padding-bottom: 23px;
  color: inherit;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    border-bottom: 1px solid #e6e6e6;
  }

  .main-nav--nojs.main-nav {
    border-bottom: none;
  }

  .main-nav--close .site-list {
    display: none;
  }

  .main-nav--open .site-list {
    position: absolute;
    top: 66px;
    left: 0;
    display: block;
    width: 100%;
  }

  .main-nav--nojs .site-list {
    position: static;
    display: block;
    border-top: 1px solid #e6e6e6;
  }

  .site-list__link {
    border-bottom: 1px solid #e6e6e6;
  }

  .main-nav__toggle {
    position: absolute;
    top: 23px;
    right: 20px;
    width: 24px;
    height: 18px;
    padding: 0;
    background: 0 0;
    border: none;
    cursor: pointer;
  }

  .main-nav--close .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 8px 0 #000000, 0 16px 0 #000000;
  }

  .main-nav--open .main-nav__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: #000000;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $table-width) {
  .main-nav__toggle {
    display: none;
  }
}
