.product__header,
.product__link {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.products {
  margin-bottom: 17px;
}

.product {
  padding: 23px 20px 12px;
  background-color: #f2f2f2;
}

.product__headers {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  min-height: 49px;
  margin-bottom: 23px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%;
  }
}

.product__header {
  @include margin-reset;

  margin-left: 36px;
  font-size: 24px;
  font-weight: normal;
  background-repeat: no-repeat;
  background-size: 30px;

  &--position {
    margin-left: 4px;
  }
}

.products article:first-of-type {
  margin-bottom: 21px;
}

.product__img {
  z-index: 9;
  transform: translate(10px, -2px);

  &--position {
    transform: translate(-7px, 0);
  }
}

.product__main {
  border-bottom: 1px solid #d9d9d9;
}

.product__text {
  @include margin-reset;

  margin-bottom: 22px;
}

.product__footer {
  margin-top: 9px;
}

.product__link {
  display: inline-block;
  padding: 10px 0;
  font-size: 16px;
  line-height: 16px;
  color: inherit;
  text-decoration: none;
}

.product__link svg {
  margin-left: 7px;
  vertical-align: middle;
  transform: translate(0, -2px);
  fill: #3e4242;
}
