.programs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
  padding: 27px 20px 0;
  font-family: "Oswald", sans-serif;
  color: #ffffff;

  background-image: url("../img/index-background-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% auto;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.webp");
  }
}

.program__header {
  @include margin-reset;

  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}

.program__header br {
  display: none;
}

.programs__text {
  @include margin-reset;

  margin-bottom: 26px;
  text-transform: uppercase;
}

.program__link {
  width: 280px;
  padding: 11px 0 11px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #68b738;
}

@media (min-width: $table-width) {
  .programs {
    align-items: flex-start;
    padding: 53px 30px 0 30px;
    background-image: none;
    color: #000000;
  }

  .program__header {
    margin-left: 87px;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px;
  }

  .program__header br {
    display: inline;
  }

  .programs__text {
    margin-left: 87px;
    margin-bottom:48px;
    font-size: 20px;
    line-height: 20px;
  }

  .program__link {
    width: 245px;
    margin-left: 89px;
    padding-top: 15px;
    padding-bottom: 17px;
    font-size: 20px;
    line-height: 20px;
    color: #ffffff;
  }

  .programs__wrapp-img {
    align-self: center;
    order: 3;
  }
}
